{% extends "base.html" %}
{% block content %}

{% for pet in all_pets %}
  <div class="pet">
    <div class="content">
      <a href="/pets/{{pet.id}}">{{pet.pet_name}}</a>
      <div class="title">
        {{pet.type_of_animal}}, born {{pet.dob}}
        <br><span class="owner_name">Cared for by {{pet.owner_name}}</span>
        <p><i>Current Vet: {{pet.vet.full_name()}} - {{pet.vet.fun_fact}}</i></p>
      </div>
      <div class="buttons">

        <form class="delete-form" action="/pets/{{pet.id}}/delete" method="POST">
          <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}
