{% extends "base.html" %}
{% block content %}

<form action="/pets" method="post">

  <div>
    <label for="pet_name">Pet's Name:</label>
    <input type="text" id="pet_name" name="pet_name" placeholder="Pet's Name" required autofocus>
  </div>

  <div>
    <label for="dob">Date of birth:</label>
    <input type="text" id="dob" name="dob" placeholder="dd.mm.yyyy" required>
  </div>

  <div>
    <label for="type_of_animal">Type of animal:</label>
    <input type="text" id="type_of_animal" name="type_of_animal" placeholder="cat/dog/hamster..." required>
  </div>

  <div>
    <label for="owner_name">Owner's name:</label>
    <input type="text" id="owner_name" name="owner_name" placeholder="Your name here" required>
  </div>

  <div>
    <label for="owner_ph">Contact Telephone Number:</label>
    <input type="text" id="owner_ph" name="owner_ph" placeholder="0123 456 7890" required>
  </div>

  <div>
    <label for="treatment_notes">Anything we should know about your pet?</label>
    <input type="text" id="treatment_notes" name="treatment_notes" placeholder="Allergies/food prefs?">
  </div>

  <div>
    <label for="vet">Vet:</label>
    <select id="vet" name="vet_id">
      {% for vet in all_vets %}
        <option value="{{ vet.id }}">{{ vet.full_name() }}</option>
      {% endfor %}
    </select>
  </div>

  <button type="submit">Add Pet</button>

</form>

{% endblock %}
