<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="{{ url_for('static', filename='style.css') }}">
    <title>Malone Veterinary Practice</title>
</head>
<body>
    <section id="home-image">
    <header>
        <h1>Malone Veterinary Practice</h1>
        <h3>We are committed to bringing you the highest level of veterinary healthcare for your beloved animal friends.</h3>
    </section>
        <nav>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li><br>
                <li><a href="{{ url_for('pets.pets') }}">Pets</a></li><br>
                <li><a href="{{ url_for('pets.new_pet') }}">New Pet</a></li><br>
                <li><a href="{{ url_for('pets.vets') }}">Vets</a></li><br>
                <li><a href="{{ url_for('pets.new_vet') }}">New Vet</a></li><br>
            </ul>
        </nav>
    </header>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
    {%block home%}
    {% endblock %}
<footer>
    
</footer>
</body>
</html>