<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href ="{{ url_for('static', filename='style.css') }}">
    <title>Malone Veterinary Practice</title>
</head>
<body>
    <section id="home-image">
    <header>
        <h1>Malone Veterinary Practice</h1>
        <h3>We are committed to bringing you the highest level of veterinary healthcare for your beloved animal friends.</h3>
    </section>
        <nav>
            <div class="sidemenu">
                <hr><a href="{{ url_for('home') }}">Home</a><hr>
                <a href="{{ url_for('pets.pets') }}">Your Pets</a>
                <a href="{{ url_for('pets.new_pet') }}">Register a New Pet</a><hr>
                <a href="{{ url_for('pets.vets') }}">Meet the Team</a>
                <a href="{{ url_for('pets.new_vet') }}">Register as a New Vet</a><hr>
                <a href="{{ url_for('home') }}">Find your local Vet</a><hr>
                <a href="{{ url_for('home') }}">Contact Us</a>
                <a href="{{ url_for('home') }}">Careers</a><hr>
            </div>
        </nav>
    </header>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
    {%block home%}
    {% endblock %}
<footer>
    <div class="footer"><p>Contact Us<br>Careers</p></div>
    
</footer>
</body>
</html>