{% extends "base.html" %}
{% block home %}
<div class="row">
    <div class="column"><b><u>Services We Offer</u></b>
        <p>Here at MVP we have various services that we provide to your pet:</p>
        Membership<br>
        Behaviour<br>
        Consultations<br>
        Flea and Worm Prevention<br>
        Kitstart<br>
        Neutering<br>
        Nurse Clinics<br>
        Oral and Dental Care<br>
        Pain Management<br>
        Pet Slimmer's Club<br>
        Prescriptions<br>
        Pupstart<br>
        Senior Pets<br>
        Vaccinations</div>
    <div class="column"><b><u>Client Testimonials</u></b>
        <p>I have always had lovely, friendly vets and staff attend to me and my pets. They are attentive and explain everything fully. I have always been able to get a prompt appointment when needed. Even during the pandemic. <br>- Ashley<br>*****</p>
        <hr><p>Never had the same vet at Dexters appointments but been happy with all vets I've seen. <br>- Charlene<br>****</p>
        <hr><p>I have attend this vets with my dog for over 6 years and have always received a warm welcome and they remember my dogs name also the vets have given me first class advice for my dogs problems. <br>- Bradley<br>*****</p>
    </div>
    <div class="column"><b><u>Do you ever wonder why your pet needs its annual boosters?</u></b>
        <p>07 January 2022<br>
        Let's look at why annual visits are important for your pet.<br>
        You're probably aware that when you get a puppy or kitten, you're going to need to visit the vet for vaccinations, flea and tick prevention and other treatments. However, to maintain your pet's health and wellbeing, regular trips to the vets are recommended. Annual vaccinations or boosters are important to protect your pet against preventable diseases and discomfort. Here we explore some of the common questions, and myths, around the annual visit for vaccination… <br>
        
        My pet only had its primary vaccines, is that okay?<br>
        
        It is a misunderstanding amongst some pet owners, that following the vaccination, pets are protected against diseases for the rest of their lives. Unfortunately, that isn't the case and can cause the expense of their puppy or kitten's health and, in extreme cases, the loss of a pet.<br>
        
        Some clients may have the misconception that an annual vaccination is just for the commercial benefit of the pharmaceutical company or vet - again, this isn't true.Your pet should be vaccinated as a puppy and then get regular boosters throughout their life. <br></p>
    </div>
</div>
{% endblock %}


